* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 56px 0;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    background-color: rgb(100, 21, 255);
    color: white;
    font-weight: bold;
}
.btn:hover {
    background-color: rgb(60, 5, 170);
}
.blue {
    color: #6415FF;
}
p {
    line-height: 1.5;
}
input {
    width: 400px;
    height: 28px;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 12px;
}
input[type=email]:focus{
    outline: none;
    box-shadow: 0 0 0 1px #6415FF;
}

h1 {
    font-weight: 600;
    font-size: 32px;
}
h1:hover {
    color: rgb(100, 21, 255);
}
ul li {
    list-style-type: none;
}
li:hover {
    transform: scale(1.04);
    border-bottom: 1px solid rgb(100, 21, 255);
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.875rem;
}

/* 

HEADER

*/
li {
    list-style: none;
}
.site_logo {
    width: 2.5em;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.logo--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav {
    display: flex;
    /* align-items: center; */
}
ul {
    display: flex;
    align-items: center;
}
li {
    margin-left: 24px;
}
.logo {
    margin-right: 6px;
}


/* 

LANDING

 */
.companies_logo {
    width: 300px !important;
    height: 24px;
}

.landing_info--wrapper {
    display: flex;
}
.landing_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.landing_info--para {
    width: 65%;
    padding: 12px 0px;
    line-height: 1.5;
}


.random_img--wrapper {
    display: block;
}
.random_img {
    width: 500px;
    height: 500px;
}

/* 


FEATURES


 */

.service_info {
    display: flex;
    width: calc(100% / 3);
}
.services_info--wrapper {
    display: flex;
    flex-wrap: wrap;
}

.feature_img {
    border: 1px solid lightgray;
    padding: 6px;
    border-radius: 50%;
}


/* 

QUALITY

 */

.quality_info--wrapper {
    display: flex;
}
.quality_img--wrapper, .quality_info {
    width: 50%;
}
.quality_img {
    width: 100%;
    display: flex;
    align-items: center;
}




/*

 STEPS
 
 */
.number {
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(203 213 224);
    padding-right: 6px;
}

.steps, .steps_info--wrapper, .steps_info, .step {
    display: flex;
}

.steps_info--wrapper, .steps_info {
    flex-direction: column;
}

/* 

VALUE

 */

.values {
    display: flex;
}
.value_info {
    width: 50%;
}

/* 

PLANS 

 */

.plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.plan {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 56px;
    border: 1px solid black;
    border-radius: 4px;
}
/* .purchase {

}  */


/* 

TESTINOMAILS 

 */

 .testinomails {
    display: flex;
 }


 /*
  FOOTER 
  */

footer {
    background-color: #6415ff;
}
.links {
    display: flex;
    flex-wrap: wrap;
}
.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    text-align: center;
}
.link > span, h5 {
    color: white;
}